html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
    background-size: 100%;
    /*background:center top url("Backing.png") no-repeat;*/
    background-color: rgb(8, 8, 8);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #ffffff;
}

p {
    font-weight: bold;
    margin: 0px;
}

b {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center !important;
}

li {
    display: inline;
    font-style: normal;
    text-align: center !important;
}

* {
    border: none;
    margin: 0;
  }

::selection{
    background : rgba(133, 133, 133, 0.9);
    border : 1px solid transparent;
    border-radius : 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 18px;
}

.container {
    background-color: #383838;
    width: 500px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    padding-left: 25px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #7907e4be;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 20px;
    box-shadow: 0 0 3px #444444;
    padding: 5px;
}

.projects {
    text-align: center !important;
    padding-top: 20px;
    position: absolute;
    margin: 15;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.fcbox {
    background-color: #444444;
    width: 150px;
    height: 80px;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    margin: 5;
    text-align: center;
    box-shadow: 0 0 3px #333333;
}

.category {
    font-size: 30px;
    font-style: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.discordname {
    padding-left: 6em;
    position: absolute;
    text-align: center !important;
    font-weight: bold;
    color: #ba70cc;
    width: fit-content;
    height: 50px;
    font-size: 20px;
    display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #a646be;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table,
td {
    border: 0px solid #333;
    background-color: #00000000;
}

canvas {
    background: white;
    background: radial-gradient(#FFF, #DDD);
    //background: radial-gradient(hsl(40, 80%, 60%), hsl(0, 50%, 40%));
    //filter: blur(1px) contrast(5);
    //transform: scale(0.1);
    transform-origin: 0 0;
    //border: solid .8em green;
    width: 100%;
    height: 100%;
  }
  .ui {
    display: none;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 120px;
    padding: 10px;
    background: rgba(255,255,255,0.7);
    
    p {
      //color: white;
      font-size: 11px;
      font-weight: 700;
      
      &.zoom {
        margin-bottom: 5px;
        
        span {
          margin-right: 5px;
          border: solid 1px #777;
          cursor: pointer;
          border-radius: 2px;
          
          &.zoomin {
            padding: 2px 5px;
          }
          &.zoomout {
            padding: 2px 8px;
          }
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
    //span.zoom {
       
   //}
  }

