body {
    background-size: 100%;
    /*background:center top url("Backing.png") no-repeat;*/
    background-color: rgb(8, 8, 8);
    margin: 0px !important; 
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center !important;
}

li {
    display: inline;
    font-style: normal;
    text-align: center !important;
}

::selection{
    background : rgba(133, 133, 133, 0.9);
    border : 1px solid transparent;
    border-radius : 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 18px;
}

.container {
    background-color: #a3a3a3ab;
    width: 500px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    padding-left: 25px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #8b8b8bab;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 20px;
    box-shadow: 0 0 3px #444444;
    padding: 5px;
}

.projects {
    text-align: center;
    padding-top: 50px;
    position: absolute;
    margin: 15;
    width: 100%;
    height: 100%;
}

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.small_container {
    background-color: #444444;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #333333;
}

.fcbox {
    background-color: #444444;
    width: 150px;
    height: 80px;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    margin: 5;
    text-align: center;
    box-shadow: 0 0 3px #333333;
}

.category {
    font-size: 30px;
    font-style: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #a646be;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table,
td {
    border: 0px solid #333;
    background-color: #00000000;
}

