html, body {
    width: 100%;
    height:100%;
  }
  
  @font-face {
      font-family: "IBM";
      src: url("./assets/font.woff") format("woff");
  }
  
  body {
      background-size: auto;
      background-color: rgb(0, 0, 0);
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto; 
      font-family: "IBM";
      font-style: normal;
      color: #ffffff;
  }
  
  h2 {
      margin: 0px;
  }
  
  ::--webkit-scrollbar
  {
    width: 10px;
  }
  
  ::--webkit-scrollbar-thumb
  {
    background: linear-gradient(#4a174e,#281457);
    border-radius: 5px;
  }
  
  ::--webkit-scrollbar-thumb:hover
  {
    background: linear-gradient(#952bb6,#5327b8);
    border-radius: 5px;
  }
  
  hr {
      background-color: rgb(87, 26, 145);
  }
  
  .page-content p{
      margin: 0px;
      padding-left: 246px;
  }
  
  .project-container p{
      margin: 0px;
      padding-left: initial !important;
  }
  
  .project-container h3, h4{
      padding-left: initial !important;
  }
  
  p {
      margin: 0px;
  }
  
  b {
      font-size: 24px;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center !important;
  }
  
  li {
      display: inline;
      font-style: normal;
      text-align: center !important;
  }
  
  ::selection{
      background : rgba(0, 180, 15, 0.9);
      color: black;
      border : 1px solid transparent;
      border-radius : 15px;
  }
  
  * {
      scrollbar-width: auto;
      scrollbar-color: #666666 rgb(30, 30, 30);
  }
  
  *::-webkit-scrollbar {
      width: 12px;
  }
  
  *::-webkit-scrollbar-track {
      background: rgb(30, 30, 30);
  }
  
  *::-webkit-scrollbar-thumb {
      background-color: #666666;
      border-radius: 10px;
      border: 3px solid rgb(30, 30, 30);
  }
  
  *::-webkit-scrollbar-thumb:hover {
      background-color: #999999;
  }
  
  caption {
      padding: 10px;
      caption-side: bottom;
  }
  
  table {
      border-collapse: collapse;
      border: 0px;
      border-radius: 10px;
      letter-spacing: 1px;
      font-size: 18px;
  }
  
  .project {
      background-color: #1b1b1b;
      width: auto;
      height: fit-content;
      border: 0px;
      border-radius: 15px;
      padding: 15px;
      margin-left: 244px !important;
      margin: 5px;
      text-align: left;
  }
  
  .infobox {
      background-color: #331233;
      width: 400px;
      height: 90px;
      border: 0px;
      border-radius: 20px;
      padding: 15px;
      margin: 5px;
      text-align: left;
  }
  
  .reference {
      margin-top: 2px;
      margin-bottom: 2px;
  }
  
  .sidebar-content-header-image {
      width: 100% !important;
      height: 100% !important;
      border-radius: 15px !important;
  }
  
  img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }
  
  a img {
      margin-top: 5;
      border-radius: 4px;
      width: 30px;
      height: 30px;
      font-size: 32px;
  }
  
  .sidebar {
      background-color: #131313;
      width: 200px !important;
      height: 100%;
      border: 0px;
      padding: 15px;
      text-align: center;
      box-shadow: rgb(12, 12, 12);
      position: fixed;
  }
  
  .header {
      background-color: #131313;
      /* width: 100%; */
      height: 20px;
      border: 1px;
      border-color: #1b1b1b;
      padding: 5px;
      margin-left: 230px !important;
      margin-top: 0px !important;
      text-align: left;
  }
  
  .fcbox {
      background-color: #444444;
      width: 150px;
      height: 80px;
      border: 0px;
      border-radius: 20px;
      padding: 20px;
      padding-left: 40px;
      margin: 5;
      text-align: center;
      box-shadow: 0 0 3px #333333;
  }
  
  .category {
      font-size: 30px;
      font-style: bold;
      padding-bottom: 5px;
      padding-top: 5px;
  }
  
  .ulMain {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
    display:flex !important;
    text-align: center !important; 
    align-items: center !important;
  }
  
  .ulAlt{
      list-style-type: none;
      margin: 0;
      padding: 4px;
      overflow: hidden;
    }
  
  li {
      margin-left: 5px !important;
      margin-right: 5px !important;
      float: left;
  }
  
  h3 {
      padding: 0 0 7px;
      margin: 0 0 24px -0.3px;
      color: #c60;
      border-bottom: 1px solid #b00;
      padding-left: 247px;
      font-size: 18px;
  }
  
  h3, h4 {
      font-weight: 400;
      text-align: left;
  }
  
  .sidebar-content-body-links {
      margin: 15;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      position: absolute;
      bottom: 40px;
  }
  
  a{
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
  }
  
  a:hover:not(.active) {
    background-color:  rgb(70, 70, 70);
    border-radius: 8px;
  }
  
  .active {
    background-color: #8f8f8f;
    
  }
  
  table,
  td {
      border: 0px solid #333;
      background-color: #00000000;
      text-align: center !important;
  }
  
  .CenterText {
      text-align: center;
  }
  
  .copyright {
      text-align: center !important;
      font-size: 16px;
      padding-top: 15px;
      padding-left: 310px;
      letter-spacing: normal;
      line-height: 20px;
      white-space: normal;
  }
  
  .copyright ul li {
      display: inline;
      font-style: normal;
      text-align: center !important;
      margin: 0 !important;
  }

  a ul li {
    display: inline;
    font-style: normal;
    text-align: center !important;
    margin: 0 !important;
  }