html, body {
  width: 100%;
  height:100%;
}

body {
    background-size: auto;
    background-color: rgb(30, 30, 30);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #ffffff;
}

::--webkit-scrollbar
{
  width: 10px;
}

::--webkit-scrollbar-thumb
{
  background: linear-gradient(#4a174e,#281457);
  border-radius: 5px;
}

::--webkit-scrollbar-thumb:hover
{
  background: linear-gradient(#952bb6,#5327b8);
  border-radius: 5px;
}

p {
    font-weight: bold;
    margin: 0px;
}

b {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center !important;
}

li {
    display: inline;
    font-style: normal;
    text-align: center !important;
}

::selection{
    background : rgba(133, 133, 133, 0.9);
    border : 1px solid transparent;
    border-radius : 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 18px;
}

.container {
    background-color: #383838d3;
    width: 500px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    padding-left: 25px;
    margin: 5px;
    text-align: left;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 20px;
}

.projects {
    text-align: center !important;
    padding-top: 20px;
    position: absolute;
    margin: 15;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.fcbox {
    background-color: #444444;
    width: 150px;
    height: 80px;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    margin: 5;
    text-align: center;
    box-shadow: 0 0 3px #333333;
}

.category {
    font-size: 30px;
    font-style: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.discordname {
    padding-left: 6em;
    position: absolute;
    text-align: center !important;
    font-weight: bold;
    color: #ffffff;
    width: fit-content;
    height: 50px;
    font-size: 20px;
    display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 4px;
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  display:flex !important;
  text-align: center !important; 
  align-items: center !important;
}

li {
    margin-left: 5px !important;
    margin-right: 5px !important;
    float: left;
}

li a {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

li a:hover:not(.active) {
  background-color:  rgb(70, 70, 70);
  border-radius: 8px;
}

.active {
  background-color: #8f8f8f;
  
}

table,
td {
    border: 0px solid #333;
    background-color: #00000000;
}

.socialsbox {
    height: 500px;
    width: auto;
}

.footer {
    background-color: darkgray;
    background: fixed;
    width: 100%;
    height: 24px;
}

.lucunLogo {
    border-radius: 5px;
    align-self: fixed left;
    width: 20px;
    height: 20px;
}

.CenterText {
    text-align: center;
}
