body {
    background-size: 100%;
    background:center top url("Backing.png") no-repeat;
    background-color: rgb(8, 8, 8);
    margin: 0px !important; 
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center !important;
}

li {
    display: inline;
    font-style: normal;
    text-align: center !important;
}

::selection{
    background : rgba(133, 133, 133, 0.9);
    border : 1px solid transparent;
    border-radius : 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    background-color: #121212;
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.container {
    background-color: #a3a3a3ab;
    width: 500px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    padding-left: 25px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #8b8b8bab;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 20px;
    box-shadow: 0 0 3px #444444;
    align-self: top left;
}

.header {
    background-color: #333333c3;
    box-shadow: 0 0 3px #272727c3;
    text-align: left center !important;
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 6;
}

.projects {
    padding-top: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.small_container {
    background-color: #444444;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #333333;
}

.fcbox {
    background-color: #444444;
    width: 150px;
    height: 80px;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    margin: 5;
    text-align: center;
    box-shadow: 0 0 3px #333333;
}

.category {
    font-size: 30px;
    font-style: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.hitem {
    padding-left: 10px;
    padding-right: 10px;
    color: blueviolet;
}

.header-links {
    z-index: 7;
    text-align: center;
}

