html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    background-color: #0D1117;
    /*font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 8px;
}

a {
    color: #39A6FF;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    vertical-align: middle;
    width: fit-content;
}

.btn img {
    width: 20px !important;
    height: 20px !important;
    padding: 0;
    margin: 0 !important;
    position: relative;
    top: -1px;
}

::-webkit-scrollbar {
    width: 8px;
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
}

.header {
    background-color: #161B22;
    border: 1px solid #30363D;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}

.header img {
    width: 110px;
    height: 26px;
}

.btn {
    color: #FFFFFF;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #21262D;
    border-radius: 6px;
    border: #363B42 1px solid;
    font-weight: 500;
}

.btn:hover {
    text-decoration: none;
    background-color: #30363D;
    border: #767e8a 1px solid;
    transition: all 0.1s ease-in-out;
}

.btn-status {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #30363D;
    border: 1px solid #5c636d;
    border-radius: 2em;
}

.btn .btn-status {
    margin-left: 2px;
    color: inherit;
    text-shadow: none !important;
    border: none;
}

.header .btn {
    margin-left: 8px;
}

.right-buttons {
    position: absolute;
    right: 15px;
    top: 14px;
    height: max-content;
    padding: 7px;
    padding-right: 0;
}

.container {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.tabs {
    display: inline !important;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    top: 14px;
}

.content {
    width: 100%;
    height: fit-content;
}

.pannel {
    background-color: #0d1117;
    background-size: 100px;
    background-repeat: repeat;
    border: 1px solid #30363D;
    padding: 10px;
    text-align: left;
    width: 250px;
    margin-bottom: 8px;
    border-radius: 8px;
    height: fit-content;
}

.widget {
    background-color: #0d1117;
    background-size: 100px;
    background-repeat: repeat;
    border: 1px solid #30363D;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    margin-bottom: 8px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
}

.widget-title {
    background-color: #161B22;
    text-align: left;
    font-weight: 700 !important;
    font-size: 14px;
    border-bottom: 1px solid #30363D;
    border-radius: 8px 8px 0 0;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: -10px;
    margin-bottom: 5px;
}

.widget-title-actions {
    color: #6c7685;
    float: right;
    margin-left: 8px;
    display: inline;
    transition: all 0.1s ease-in-out;
}

.widget-title-actions:hover {
    color: #528fc2;
}

.pix16 {
    width: 16px;
    height: 16px;
}

.footer {
    padding: 10px;
    margin-top: 8px;
    height: fit-content;
    font-size: 15px;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.aboutpan {
    width: -webkit-fill-available;
    width: -moz-available; /* goddammit mozilla */
}

.projects {
    margin-left: 0;
    padding-bottom: 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -moz-available;
}

.Chat {
    margin-left: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -moz-available;
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
select {
    text-transform: none;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    cursor: pointer;
    border-radius: 0;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: none;
}

.project {
    background-color: #161B22;
    border: #30363D 1px solid;
    border-radius: 8px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    margin: 3px;
    margin-left: 0;
    margin-right: 5px;
    text-align: left;
}

.project p {
    margin-bottom: 5px;
}

.project-lang {
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin-bottom: 0;
    display: inline;
}

.project-button {
    background-color: #797979;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin-bottom: 0;
    display: inline;
    font-weight: normal;
    text-decoration: none;
}

.project:hover {
    border: #3f464e 1px solid;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 12px;
    right: 10px;
    box-shadow: #00000085 3px 3px 5px;
    color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.a-icon {
    width: 15px;
    height: 15px;
    color: #ffffff !important;
}

.a-icon:hover {
    color: #a200ff !important;
    text-decoration: none !important;
}

.social-buttons {
    display: inline-block;
    height: 100%;
}

.main-col {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 8px;
    border-radius: 8px;
    height: fit-content;
}

.side-col {
    width: 700px;
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 8px;
    height: fit-content;
}

.Timeline {
    margin-left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    display: block;
    height: min-content;
}

.calendar {
    border: 1px solid #30363D !important;
    border-radius: 8px !important;
}

.ContributionCalendar-day {
    background-color: #161B22 !important;
    border-radius: 8px !important;
    border: 1px solid #30363D !important;
}

.less-bold {
    font-weight: 400 !important;
}

.inline {
    display: inline !important;
}

#Twitter {
    transition: all 0.1s ease-in-out;
}