html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 8px;
}

a {
    color: #cccbdb;
    text-decoration: underline;
    padding-left: 3px;
    padding-right: 3px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 3px;
}

.header {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}

.header img {
    width: 110px;
    height: 26px;
    margin-bottom: -4px;
}

.tab {
    position: relative;
    color: #a0a0a0;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #333333;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
    text-align: center;
}

.tab:after {
    position: absolute;
    content: '';
    width: 100%;
    transform: scaleX(0.1);
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: #333333;
    transform-origin: bottom middle;
    transition: transform 0.18s ease-out;
    border-radius: 100% 100% 0 0;
}

.tab:hover:after {
    transform: scaleX(0.8);
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    transform-origin: bottom middle;
}

.tab:hover {
    background-color: #333333;
    box-shadow: #333333 0px 0px 10px;
    color: #ffffff;
}

.pressed {
    background-color: #333333;
    box-shadow: #333333 0px 0px 10px;
    color: #ffffff;
}

.pressed:after {
    transform: scaleX(0.8);
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    transform-origin: bottom middle;
}

.github-source {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #26700f;
    border-radius: 6px;
    padding: 5px;
}

.github-source:hover {
    background-color: #549241;
    box-shadow: #549241 0px 0px 5px;
    color: #FFFFFF;
}

.light-mode-button {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px !important;
    font-weight: bold;
    background-color: #26700f;
    border-radius: 6px;
    padding: 5px;
    border: none;
}

.light-mode-button:hover {
    background-color: #549241;
    box-shadow: #549241 0px 0px 5px;
    color: #FFFFFF;
}

.right-buttons {
    position: absolute;
    right: 15px;
    top: 14px;
}

.side-bar {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    width: 180px;
    height: fit-content;
    margin: 8px;
    border-radius: 8px;
    position: absolute;
}

.container {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.tabs {
    display: inline !important;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    top: 14px;
}

.content {
    width: fit-content;
    height: fit-content;
    margin-left: 208px;
}

.pannel {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    width: 250px;
    margin: 8px;
    border-radius: 8px;
    height: fit-content;
}

.widget {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    margin: 8px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
}

.footer {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    margin-top: 8px;
    bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    width: -webkit-fill-available;
}

.about {
    display: flex;
    flex-direction: row;
}

input[type=number] {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    background-color: #333333;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

input[type=number]:focus {
    outline: none;
}

input[type=number]:hover {
    background-color: #26700f;
    box-shadow: #26700f 0px 0px 5px;
    color: #ffffff;
}

button {
    background-color: #26700f;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #549241;
    box-shadow: #549241 0px 0px 5px;
    color: #ffffff;
}

button:focus {
    outline: none;
}

input[type=text] {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 3px;
    background-color: #333333;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: top;
    word-wrap: break-word;
    word-break: break-all;
    height: fit-content;
    width: fit-content;
    position: absolute;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:hover {
    background-color: #26700f;
    box-shadow: #26700f 0px 0px 5px;
    color: #ffffff;
}

input[type=email] {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    background-color: #333333;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

input[type=email]:focus {
    outline: none;
}

input[type=email]:hover {
    background-color: #26700f;
    box-shadow: #26700f 0px 0px 5px;
    color: #ffffff;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
