html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    background: #181818;
}

::-webkit-scrollbar-thumb{
    background: #414141;
    border-radius: 3px;
}

.header {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}   

.header img{
    width: 110px;
    height: 26px;
    margin-bottom: -4px;
}

.tab {
    position: relative;
    color: #a0a0a0;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #333333;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
    text-align: center;
}

.tab:after {
    position: absolute;
    content: '';
    width: 100%;
    transform: scaleX(0.1);
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: #333333;
    transform-origin: bottom middle;
    transition: transform 0.18s ease-out;
    border-radius: 100% 100% 0 0;
}

.tab:hover:after {
    transform: scaleX(0.8);
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    transform-origin: bottom middle;
}

.tab:hover{
    background-color: #333333;
    box-shadow: #333333 0px 0px 10px;
    color: #ffffff;
}

.pressed {
    background-color: #333333;
    box-shadow: #333333 0px 0px 10px;
    color: #ffffff;
}

.pressed:after {
    transform: scaleX(0.8);
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    transform-origin: bottom middle;
}

.github-source {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #26700f;
    border-radius: 6px;
    padding: 5px;
}

.github-source:hover {
    background-color: #549241;
    box-shadow: #549241 0px 0px 5px;
    color: #FFFFFF;
}

.light-mode-button {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px !important;
    font-weight: bold;
    background-color: #26700f;
    border-radius: 6px;
    padding: 5px;
    border: none;
}

.light-mode-button:hover {
    background-color: #549241;
    box-shadow: #549241 0px 0px 5px;
    color: #FFFFFF;
}

.right-buttons {
    position: absolute;
    right: 15px;
    top: 17px;
}

.side-bar {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    width: 180px;
    height: 100% ignore-margin;
    margin: 8px;
    border-radius: 8px;
}

.container {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.tabs {
    display: inline !important;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 185px;
}

.pannel {
    background-color: #242424;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    width: 180px;
    height: 100%;
    margin: 8px;
    border-radius: 8px;
}
