body {
    background-size: auto;
    background-color: rgb(12, 12, 12);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #ffffff;
}

.TextBox {
    height: 40;
    width: 400px;
    border-radius: 5;
}