body {
    background-size: 100%;
    background:center top url("Backing.png") no-repeat;
    background-color: rgb(8, 8, 8);
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

::selection{
    background : rgba(133, 133, 133, 0.9);
    border : 1px solid transparent;
    border-radius : 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    background-color: #121212;
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.container {
    background-color: #a3a3a3ab;
    width: 700px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #4e4e4ecc;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 20px;
    box-shadow: 0 0 3px #444444;
}

ul#menu li {
    display:inline;
  }

.header {
    background-color: #333333c3;
    box-shadow: 0 0 3px #272727c3;
    margin: 4px;
    height: 60px;
    width: 100%;
    position: absolute;
}

.projects {
    padding-top: 50px;
    padding-left: 400px;
    position: absolute;
    width: 600px;
    height: 100%;
}

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.small_container {
    background-color: #444444;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #333333;
}

.fcbox {
    background-color: #444444;
    width: 150px;
    height: 80px;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    margin: 5;
    text-align: center;
    box-shadow: 0 0 3px #333333;
}

.category {
    font-size: 30px;
    font-style: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.hitem {
    padding-left: 10px;
    padding-right: 10px;
}

