body {
    background-color: rgb(8, 8, 8);
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, rgb(1, 1, 1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(1, 1, 1) 1px, transparent 1px);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-shadow:0 0 0.125em currentColor;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10em;
}

* {
    margin: 0;
}

a {
    text-decoration: none ;
    color: ffffff;
    transition: .5s;
}

.reference > a:hover {
    color: lightskyblue;
}

.glow:hover {
    text-shadow:0 0 0.5em currentColor;
}

.social > a:hover {
    color: purple;
}

::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

td,
th {
    border: 0px solid rgb(0, 0, 0);
    padding: 10px;
}

td {
    text-align: left;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    background-color: #121212;
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.container {
    background-color: #121212;
    width: 700px;
    height: 150px;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 10px;
}

.user-side {
    height: 100%;
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-left: 100px;
}

.projects {
    padding-left: 400px;
    position: absolute;
    width: 600px;
    height: 100%;
}
    

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.social {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social > a {
    margin-right: 10%;
}

span.highlight {
    background: #bbbbbb;
}

span.begin {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

span.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

pre.merge-end > span:last-child {
    border-bottom-right-radius: 0;
}

pre.merge-end + pre > span:last-child {
    border-top-right-radius: 0;
}

pre.merge-begin > span:first-child {
    border-bottom-left-radius: 0;
}

pre.merge-begin + pre > span:first-child {
    border-top-left-radius: 0;
}

