body {
    background-color: rgb(8, 8, 8);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
}

a {
    text-decoration: none ;
    color: ffffff;
    transition: .5s;
}

.reference > a:hover {
    color: lightskyblue;
}

.glow:hover {
    text-shadow: 0 0 32px white;
}

::selection {
    background-color: #ffffff;
    color: 403353;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

td,
th {
    border: 0px solid rgb(0, 0, 0);
    padding: 10px;
}

td {
    text-align: left;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    background-color: #121212;
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.container {
    background-color: #121212;
    width: 700px;
    height: 100px;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.testicon {
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}