body {
    background-size: 100%;
    background:center top url("Backing.png") no-repeat;
    background-color: rgb(8, 8, 8);
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

* {
    margin: 0;
}

a {
    text-decoration: none ;
    color: ffffff;
    transition: .5s;
}

.reference > a:hover {
    color: purple;
}

.glow:hover {
    text-shadow:0 0 32px currentColor;
}

.social > a:hover {
    color: purple;
}

::selection{
    background : rgba(133, 133, 133, 0.9);
    border : 1px solid transparent;
    border-radius : 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: #ffffff;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 233, 233);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    background-color: #121212;
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.container {
    background-color: #a3a3a3ab;
    width: 700px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #4e4e4ecc;
}

.infobox {
    background-color: #331233;
    width: 400px;
    height: 90px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.pfp {
    border-radius: 20px;
    box-shadow: 0 0 3px #333333;
}

.user-side {
    height: 100%;
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-left: 50px;
}

.projects {
    padding-top: 50px;
    padding-left: 400px;
    position: absolute;
    width: 600px;
    height: 100%;
}
    

.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}

.social {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social > a {
    margin-right: 10%;
}

.small_container {
    background-color: #444444;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 3px #333333;
}

.fcbox {
    background-color: #444444;
    width: 150px;
    height: 80px;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    margin: 5;
    text-align: center;
    box-shadow: 0 0 3px #333333;
}

.category {
    font-size: 30px;
    font-style: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: rgb(107, 0, 89);
    text-align: center;
}
