body {
    background-color: rgb(8, 8, 8);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
}

td,
th {
    border: 0px solid rgb(0, 0, 0);
    padding: 10px;
}

td {
    text-align: left;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    background-color: #121212;
    border-collapse: collapse;
    border: 0px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.container {
    background-color: #121212;
    width: 700px;
    height: 100px;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.infobox {
    background-color: #121212;
    width: 400px;
    height: 110px;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-align: left;
}


.testicon {
    width: 40px;
    border-radius: 10px;
    padding: 5px;
}